@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-primary: #546658;
  --color-secondary: #354336;
  --color-third: #efd78f;
  --color-light: #8d9e91;
}

/* auto hide */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
